$white: #ffffff;
$black: #000000;
$yellow: #ffb901;
$blue: #00bff3;
$gray-300: #a0a0a0;
$gray-200: #c9c9c9;
$gray-100: #F9F9F9;
$gray-500: #A1A1A1;
$gray-700: #303030;

$c-body-background: $white;
$c-primary: $yellow;
$c-active: $blue;

$c-cat-friends: $blue;
$c-cat-fly: $yellow;
$c-cat-wishto: $white; 

$c-heading: $gray-300;
$c-body-color: $gray-700;