html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: $font-body;
}

.clearfix {
    &::before,
    &::after {
        display: block;
        content: '';
        clear: both;
    }
}

.main-container {
    margin-bottom: 60px;

    &__content-wrapper {
        @include outer-container($screen-max);
        @extend .clearfix;
    }

    &__content {
        @include outer-container(800px);
        @extend .clearfix;
    }
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

@mixin remove-focus-color {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}