
$font-proxima: 'Proxima Nova Soft';
$font-sans: 'Open Sans';

$font-body: $font-sans;


$screen-max: 1400px;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}
