@media print {
  body {
    width: 100%;
  }

    #main_menu, #top_page_img, .brt, .cat-sidebar, #qts-lang-menu, .prod-galery, #qts-lang-menu, .prod-spec, .inside-gallery, #menu-pagrindinis-1 {
        display: none !important;
    }

    #main_header{
        position: relative;
        margin-bottom: 40px;
    }
    
    a[href]:after {
    content: none !important;
  }
}
