.btn {
    position: relative;
    border: none;
    display: inline-block;
    background: $blue;
    color: $white;
    padding: 15px 40px;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    transition: background .4s, box-shadow .4s;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;

    &:hover {
        background: lighten($blue, 10%);
        box-shadow: inset 10px 0px 0px -1px rgba(darken($blue, 10%),1), inset -10px 0px 0px -1px rgba(darken($blue, 10%),1);
    }

    &:disabled {
        background: desaturate($blue, 80%);
        cursor: default;
    }
}

.buttons-wrapper {
    @include outer-container($screen-max);
    @extend .clearfix;
    margin: 20px auto;
    padding: 4px;

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }

    @media screen and(max-width: 1400px) {
            padding: 4px 10px;
    }
}