.cards-slider {
    @extend .clearfix;
    background: $gray-100;
    padding-bottom: 40px;
    padding-top: 1px;
    margin-top: 140px;


    &__wrapper {
        @include outer-container($screen-max);
        @extend .clearfix;
        padding: 1px 80px;
        margin: -60px auto 0;
        position: relative;

        @media screen and(max-width: 1020px) {
           padding: 1px 40px;
        }

        @media screen and(max-width: 600px) {
           padding: 1px 0;
        }
    }

    
    .slick-track {       
        padding-bottom: 20px;
    }

    &__navigation {
        @include position(absolute, 0 null 0 null);
        @include remove-focus-color();
        background: none;
        border: 0;
        z-index: 2;
        cursor: pointer;        

        &::before,
        &::after {
            display: block;
            height: 3px;
            width: 40px;
            content: '';
            background: $gray-200;
            border-radius: 3px;
            transition: transform .4s, background .3s;
        }


        &--left {
            left: 0;

            &::before {
                transform-origin: left bottom;
                transform: rotate(-45deg) translateY(2px);
            }

            &::after {
                transform-origin: left top;
                transform: rotate(45deg) translateY(-2px);
            }

            &:hover {
                &::before {
                    transform: rotate(-35deg) translateY(2px);
                }

                &::after {
                    transform: rotate(35deg) translateY(-2px);
                }

                &::before,
                &::after {
                    background: darken($gray-200, 10%);
                }
            }
        }

        &--right {
            right: 0;

            &::before {
                transform-origin: right bottom;
                transform: rotate(45deg) translateY(2px);
            }

            &::after {
                transform-origin: right top;
                transform: rotate(-45deg) translateY(-2px);
            }

            &:hover {
                 &::before {
                    transform: rotate(35deg) translateY(2px);
                }

                &::after {
                    transform: rotate(-35deg) translateY(-2px);
                }

                &::before,
                &::after {
                    background: darken($gray-200, 10%);
                }
            }
        }

        @media screen and(max-width: 600px) {
           opacity: 0;
        }
    }

    &__cards-wrapper {     
        padding: 0;
        list-style: none;

        &::after {
            position: absolute;
            top: 40px;
            display: block;
            content: '';
            width: 100%;
            border-top: dashed 1px $white;

            .cards-slider__cards-wrapper--page & {
                display: none;
            }
        }
    }

    &__card {
        width: 33.33%;
        padding: 0 50px;
        display: inline-block;
        float: left;

        .cards-slider__cards-wrapper--page & {
            margin-bottom: 40px;
        }
        

        &__image {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__content {
            padding: 10px;
        }

         @media screen and(max-width: 1200px) {
            padding: 0 20px;
        }

        @media screen and(max-width: 1020px) {
            padding: 0 10px;
        }
    }

    &__card-wrapper {
        background: $white;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.3);

        h3 {
            text-transform: uppercase;
            font-family: $font-proxima;
        }
    }
}