.filters-menu {
    @include position(absolute, 72px 0 null 0);
    background: rgba($white, 0.95);
    z-index: 99;
    display: none;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2), inset 0px 1px 2px 0px rgba(0,0,0,0.2);

    &__inner {
        @include outer-container(1100px);
        @extend .clearfix;
        @include display(flex);
    }

    &__section {
        h3 {
            color: $gray-300;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &__line {
        margin-top: 15px;
        margin-bottom: 15px;
        border-left: dashed 2px $gray-300;
    }

    &__filters-form,
    &__countries-form {
        position: relative;
        margin-bottom: 30px;
        
        &.loading {
            &:after {
                display: block;
                content: "Kraunasi";
                @include position(absolute, 0 0 0 0);
                background: rgba($white, 0.5);
            }
        }
    }

    &__filters,
    &__countries {
        @include display(flex);
        @include flex-direction(column);
        width: 50%;
        padding: 30px;
    }

    &__button-holder {
        margin-top: auto;
        text-align: right;
        width: 100%;
    }

    &__filter {
        display: inline-block;
        margin-right: 6px;

        label {
            border: solid 2px $gray-300;
            border-radius: 6px;
            padding: 4px 20px;
            color: $gray-300;
            background: $white;
            cursor: pointer;
            transition: color .4s, border .4s;

            &:hover {
                border: solid 2px $gray-700;
                color: $gray-700;
            }
        }

        input[type=checkbox] {
            display: none;

            &:checked + label {
                 border: solid 2px $c-primary;
                 color: $c-primary;
            }
        }

        &--country {
            input[type=checkbox] {
                display: none;

                &:checked + label {
                    border: solid 2px $blue;
                    color: $blue;
                }
            }
        }
    }
}