.footer {
    background: $yellow;

    &__wrapper {
        @include outer-container($screen-max);
        @extend .clearfix;
        @include display(flex);
        @include align-items(center);
        padding: 40px 0;

        @media screen and(max-width: 600px) {
            @include flex-direction(column);
        }

    }

    &__contacts {
        @include display(flex);
        @include align-items(center);
        padding: 10px 40px 10px 0;
        border-right: dashed 1px $white;
        color: $white;

        &__icon {
            margin-right: 20px;
            i {
                font-size: 2.5em;
            }
        }

        &__content {
            font-size: 14px;

            h6 {
                margin: 0;
                font-size: 14px;
            }
        }

        @media screen and(max-width: 600px) {
            border: 0;
            padding: 10px;
        }
    }

    &__social {
        padding: 0 10px;
        
        a{
            color: $white;
            text-decoration: none;
            padding: 0 10px;

            i{
                font-size: 2.2em;
            }

            &:hover {
                i{
                    opacity: 0.6;
                }
            }
        }

        @media screen and(max-width: 600px) {
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-top: dashed 1px $white;
            border-bottom: dashed 1px $white;
            width: 100%;
            text-align: center;
        }
    }

    &__newsletter {
        margin-left: auto;

        @media screen and(max-width: 600px) {
            margin-left: 0;
            box-sizing: border-box;
        }
    }

    @media screen and (max-width: 600px) {
        margin-bottom: 50px;
    }
}