
.heading-2{
    font-family: $font-proxima;
    width: 100%;
    text-align: center;
    color: $gray-300;
    text-transform: uppercase;
    font-size: 30px;

    @media screen and(max-width: 600px) {
        font-size: 22px;
    }

    &::after {
        display: block;
        content: '';
        width: 80px;
        height: 4px;
        background: $yellow;
        margin: 8px auto;
        
    }
}


.heading-3{
    width: 100%;
    text-align: center;
    color: $gray-300;
    font-weight: 400;
    margin-bottom: 80px;
    padding: 1px;

    @media screen and(max-width: 600px) {
        font-size: 14px;
    }

    &::before,
    &::after {
        display: block;
        content: '';
        clear: both;
    }
}
