.header-image {
    min-height: 450px;
    margin-bottom: 40px;    
    background: center center no-repeat;
    background-size: cover;
    position: relative;

    &__content-holder {
        @include position(absolute, 0 0 0 0);
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        margin: auto;
    }

    &__content {
        @include display(flex);
        @include align-content(center);
        @include justify-content(center);
        padding: 15px;
        max-width: 500px;
        text-align: center;
        color: $white;
        font-family: $font-proxima;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.48);
    }
}