.main-header {
    $_this: &;
    background: $white;
    position: relative;
    padding-top: 72px;
    

    &__wrapper {
        background: $white;
        @include position(fixed, 0 0 null 0);
        z-index: 100;
        box-shadow: 0px 1px 5px 0px rgba($black, .2);

        .admin-bar & {
            top: 32px;
        }   

        @media screen and (max-width: 1210px) {
            @include position(fixed, 0 0 auto 0);
            height: 72px;
            box-shadow: 0px 1px 5px 0px rgba($black, .4);
            z-index: 100;

            .admin-bar & {
                top: 32px;
            }
        }

        @media screen and (max-width: 600px) {
            @include position(fixed, auto 0 0 0);
            height: 50px;
            box-shadow: 0px -1px 5px 0px rgba($black, .4);
            z-index: 100;

            .admin-bar & {
                top: auto;
            }
        }
    }
}

.navigation-main {
    @include outer-container($screen-max);
    @extend .clearfix;
    position: relative;

    &__wrapper {
           @extend .clearfix;
           @include justify-content(center);
           @include display(flex);
           width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;

            @media screen and (max-width: 1210px) {                
                @include position(fixed, 73px 0 0 0);
                @include flex-direction(column);
                background: $white;
                z-index: 101;
                border-bottom: solid 1px $gray-300;
                padding: 60px 10px 10px;
                display: none;
            }

            @media screen and (max-width: 600px) {                
                @include position(fixed, 0 0 50px 0);
                @include flex-direction(column);
                background: $white;
                z-index: 101;
                border-bottom: solid 1px $gray-300;
                padding: 10px;
                display: none;
            }
        }

        .menu-item {
            @extend .clearfix;
            @include display(flex);
            @include justify-content(center);
            @include flex-basis(180px); 
            height: 72px;       
            
            a {
                text-transform: uppercase;
                color: $black;
                text-decoration: none;
                padding: 20px;
                box-sizing: border-box;
                font-size: 20px;
                display: block;
                position: relative;
                width: 100%;
                text-align: center;

                &::after {
                    display: block;
                    content: "";
                    width: 6px;
                    height: 4px;
                    border-radius: 2px;
                    background: $yellow;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: width .4s, opacity .4s;
                    opacity: 0;
                }

                &:hover {
                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }

            &:nth-child(3) {
                margin-right: auto;
            }

            &:nth-child(4) {
                margin-left: auto;
            }

            &--filter {
                a {
                    border-radius: 4px;
                    border: solid 2px $yellow;
                    vertical-align: middle;

                    &.active {
                        background: $yellow;
                        color: $white;
                    }

                    .fa {
                        font-size: 10px;
                        vertical-align: middle;
                        margin-left: 6px;
                    }
                }
            }

            &--search {
                width: 206px;
                margin-left: 20px;
            }

            @media screen and (max-width: 600px) { 
                @include flex-grow(0);
                @include flex-basis(auto);           
                display: block;
                width: 100%;
                margin: 6px 0;
                height: auto;

                a {
                    padding: 5px;
                }
            }
        }

        &__toggle {
            @include position(absolute, 0 0 null null);
        
            $_toggle: &;
            background: none;
            border: 0;
            color: $yellow;
            font-size: 18px;
            height: 50px;
            width: 50px;
            padding: 10px;
            display: none;

            &__line {
                height: 3px;
                background: $yellow;
                display: block;
                width: 30px;
                border-radius: 2px;
                transition: transform .4s;

                &:nth-child(1) {
                    transform: translateY(-7px);
                    transform-origin: center center;

                }

                &:nth-child(3) {
                    transform: translateY(7px);
                    transform-origin: center center;
                }

                #{$_toggle}--open & {
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        transform: scaleX(0);
                    }

                    &:nth-child(3) {
                        transform: translateY(-3px)  rotate(-45deg);
                    }
                }
             }

             @media screen and (max-width: 1210px) {
                 display: block;
             }

              @media screen and (min-width: 601px) {
                    margin: 10px;
              }
        }
}

.logo-main {
    @include position(absolute, 10px null null 50%);
    background: $yellow;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 100%; 
    margin-left: -50px;
    z-index: 102;
    transition: all .8s ease-in-out .4s, box-shadow .4s;
    backface-visibility: hidden;

    .main-header--sticky & {
         @media screen and (min-width: 601px) {
            width: 60px;
            height: 60px;
            top: 5px;
         }
        margin-left: -30px;
        
        box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.3);

        &:hover {
            box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.6);
        }
    }

    @media screen and (max-width: 600px) {
        width: 35px;
        height: 35px;
        margin-left: -30px;
        padding: 5px;
        left: 40px;
        top: 8px;
    }

    img {
        max-width: 100%;
    }

    
}

.search-field {
    @include justify-content(center);
    @include display(flex);
    position: relative;
    height: 35px;
    margin: auto;

    &__input {
        box-sizing: border-box;
        border: solid 1px $gray-200;
        border-radius: 4px;
        height: 35px;
        padding: 8px 40px 8px 8px;
        margin: auto;

        @include placeholder {
            color: $gray-200;
        }
    }

    &__submit {
        @include position(absolute, 0 0 0 null);
        height: 35px;
        width: 35px;
        border: 0;
        background: none;
        color: $gray-200;
        transition: color .2s;
        cursor: pointer;

        &:hover {
            color: $gray-300;
        }
    }
}