.horizontal-layout {
    $_this: &;

    @include outer-container(1100px);
    @extend .clearfix;
    list-style: none;
    padding: 0;

    @media screen and (max-width: 600px) {
        padding: 0 15px;
    }

    &__item {
        @include display(flex);
        list-style: none;
        margin-bottom: 20px;
        border-radius: 6px;
        border: solid 1px darken($gray-100, 10%);
        overflow: hidden;
        transition: border .4s;

        p{
            margin: 10px 0 0;
        }

        &:hover {
            border: solid 1px $yellow;

            #{$_this}__heading {
                color: $yellow;
            }
        }

        @media screen and (max-width: 600px) {
            @include flex-direction(column);
        }
    }

    &__image {
        @include flex-shrink(0);
        display: block;
        width: 200px;

        img {
            display: block;
            width: 200px;
            max-width: 100%;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            height: 150px;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__content {
        padding: 15px;
    }

    &__heading {
        margin: 0;
        font-family: $font-proxima;
        font-family: 18px;
        transition: color .4s;
    }

    @media screen and (max-width: 1100px) {
        padding: 0 15px;
    }
}