.info-icons {
    &__wrapper {
        @include outer-container($screen-max);
        @extend .clearfix;
        margin: 40px auto;
    }
}

.info-icon {
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 25px;

    &__caption {
        color: darken($gray-500, 10%);
    }

    &__count {
        font-size: 2.5em;
        font-weight: bold;

    }

    &__title {
        margin: 0;
        font-weight: 200;
        font-size: 14px;
    }

    @media screen and (max-width: 760px) {
        width: 50%;

        &__figure {
            @include display(flex);
            @include align-items(center);
            margin: 20px 0;
        }

        &__caption {
           
        }
    }

    @media screen and (max-width: 600px) {
        width: 50%;

        &__figure {
            @include display(flex);
            @include align-items(center);
            @include flex-direction(column);
        }

        &__caption {
           
        }
        
    }
}