.newsletter-form {
    box-sizing: border-box;

    label {
        color: $white;
        font-size: 12px;
        margin-bottom: 10px;
        display: block;

    }

    &__input-wrapper {
        @include display(flex);
        width: 100%;
        padding: 10px;
    }

    &__input {
        @include flex-grow(1);
        @include border-left-radius(3px);
        box-sizing: border-box;
        border: 0;
        padding: 10px;
    }

    .btn--submit {
        padding: 10px 20px;
        box-sizing: border-box;

        i{
            font-size: 2em;
        }
    }
}