.trips-list{

    &__wrapper {
        @include outer-container($screen-max);
        @extend .clearfix;
        margin: 0 auto;
        padding: 0;
        list-style: none;

        @media screen and(max-width: 600px) {
            padding: 0 10px;
        }
    }

    &__item {

        $_this: &;

        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        position: relative;
        width: 25%;
        float: left;
        box-sizing: border-box;
        cursor: pointer;

        &::before {
            display: block;
            content: '';
            padding-bottom: 100%;
        }

        &--light {
            & #{$_this}__title__wrapper {
                color: $white;
            } 
        }

        &--horizontal {
            width: 50%;

            &::before {
                display: block;
                content: '';
                padding-bottom: 50%;
            }
        }

        &--vertical {
            float: right;

            &::before {
                display: block;
                content: '';
                padding-bottom: 200%;
            }

            &--left {
                float: left;
            }
        }

        &__content {
            @include position(absolute, 5px 5px 5px 5px);
            border: solid 3px $blue;
            overflow: hidden;
            border-radius: 6px;
            padding: 5px;
            transition: border .4s;            
        }

        &__title__wrapper {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
            padding: 10px 20px;
            z-index: 4;
            transition: color .4s;
        }

        &__title {
            margin: 0;
            font-family: $font-proxima;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: bold;
        }

        &__length {
            text-transform: uppercase;
            font-family: $font-proxima;
        }

        &__description {
            @include position(absolute, 0 0 0 0);
            margin: 0;           
            z-index: 3;

            &__content {
                @include position(absolute, 0 0 0 0);
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                text-align: center;
                transform: translateY(30px);
                opacity: 0;
                transition: transform .4s, opacity .8s;
                padding: 80px 20px;
            }

            &::before {
                display: block;
                content: '';
                position: absolute;
                bottom: 50%;
                left: 50%;
                margin-left: -500px;
                margin-bottom: -500px;
                transform: scale(0.01, 0.01);
                transition: transform .8s, opacity .4s;
                width: 1000px;
                height: 1000px;
                background: rgba($white, .9);
                border-radius: 100%;
                opacity: 0;                
                z-index: -1;
            }
        }

        &__type-icon {
            @include position(absolute, null null 0 10px);
            display: block;
            text-decoration: none;
            color: $white;
            width: 100%;
            transform: translateX(0);
            transition: transform .6s, opacity .8s;
            opacity: 1;

            &__title {
                @include position(absolute, 20px auto null 55px);
                display: block;
                font-family: $font-proxima;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border: solid 2px $white;
                border-left: 0;
                padding: 2px 20px;
                background: rgba($black, .4);
            }

            img {
                position: relative;
                width: 64px;
                height: 64px;
                z-index: 2;
            }
        }

        &:hover {
            & #{$_this}__content {
                border-color: $yellow;
            }

            & #{$_this}__title__wrapper {
                color: $yellow;
            }   

            & #{$_this}__type-icon {
                
                opacity: 0;
            }        

            & #{$_this}__description {

                &__content {
                    transform: translateY(0);
                    opacity: 1;
                }

                 &::before {
                     transition: transform .8s, opacity 1s;
                     opacity: 1;
                     transform: scale(1, 1);
                 }
            }
        }


        @media screen and (max-width: 1100px) {
            
            width: 33.3%;

            &::before {
                display: block;
                content: '';
                padding-bottom: 100%;
            }

            &--horizontal {
                width: 66.66%;

                &::before {
                    padding-bottom: 50%;
                }
            }

            &--vertical {
                width: 66.66%;

                &::before {
                    padding-bottom: 50%;
                }
            }
        } 

        @media screen and (max-width: 700px) {
            
            width: 100%;

            &::before {
                display: block;
                content: '';
                padding-bottom: 50%;
            }

            &--horizontal {
                width: 100%;

                &::before {
                    padding-bottom: 50%;
                }
            }

            &--vertical {
                width: 100%;

                &::before {
                    padding-bottom: 50%;
                }
            }
        }    

         @media screen and (max-width: 400px) {
            
            &,
            &--horizontal,
             &--vertical {
                width: 100%;

                &::before {
                    display: block;
                    content: '';
                    padding-bottom: 70%;
                }
            }
        }
    }
}

