.slider {

    display: block;
    position: relative;

    &__wrapper {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        &::before {
            display: block;
            content: '';
            padding-bottom: 40%;
            transition: padding .4s;

            @media screen and (max-width: 769px) {
                padding-bottom: 60%;
            }

            @media screen and (max-width: 600px) {
                padding-bottom: 80%;
            }
        }
    }

    .slick-list  {
        @include position(absolute, 0 0 0 0);
    }

    .slick-track {
        height: 100%;
    }

    &__slide {
        @include position(absolute, 0 0 0 0);
        overflow: hidden;

        &__image {
            @include position(absolute, 50% null null 50%);
            transform: translate(-50%, -50%);
            width: auto;
            min-width: 100%;
            height: auto;
            min-height: 100%;
        }

        &__content {
            @include position(absolute, 0 0 0 0);
            @include display(flex);
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            text-align: center;
            padding: 40px;
        }

        &__title {
            color: $white;
            font-family: $font-proxima;
            text-transform: uppercase;
            font-size: 30px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.48);
            margin: 0;

            transform: translateY(-40px);
            opacity: 0;
            transition: opacity .8s, transform .8s;

            .slick-current & {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &__description {
            color: $white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.48);
            max-width: 600px;
        
            opacity: 0;
            transition: opacity .8s;

            .slick-current & {
                opacity: .8;
            }
        }
    }

    &__button {
        @include remove-focus-color();
        position: absolute;
        top: 50%;
        background: none;
        height: 60px;
        margin-top: -30px;
        border: 0;
        font-size: 45px;
        z-index: 2;
        cursor: pointer;

        opacity: .1;
        transition: opacity .4s;

        .slider:hover & {
            opacity: 1;
        }


        &::before,
        &::after {
            display: block;
            height: 3px;
            width: 40px;
            content: '';
            background: $gray-200;
            border-radius: 3px;
            transition: transform .4s, background .3s;
        }


        &--left {
            left: 10px;

            &::before {
                transform-origin: left bottom;
                transform: rotate(-45deg) translateY(2px);
            }

            &::after {
                transform-origin: left top;
                transform: rotate(45deg) translateY(-2px);
            }

            &:hover {
                &::before {
                    transform: rotate(-35deg) translateY(2px);
                }

                &::after {
                    transform: rotate(35deg) translateY(-2px);
                }

                &::before,
                &::after {
                    background: darken($gray-200, 10%);
                }
            }
        }

        &--right {
            right: 10px;

            &::before {
                transform-origin: right bottom;
                transform: rotate(45deg) translateY(3px);
            }

            &::after {
                transform-origin: right top;
                transform: rotate(-45deg) translateY(-3px);
            }

            &:hover {
                 &::before {
                    transform: rotate(35deg) translateY(3px);
                }

                &::after {
                    transform: rotate(-35deg) translateY(-3px);
                }

                &::before,
                &::after {
                    background: darken($gray-200, 10%);
                }
            }
        }

        &__text {
            @extend .visuallyhidden;
            display: block;
            text-indent: -99999px;
        }
    }

}